@model ToDoApp.ViewModels.ToDoViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">To Do app</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h3>Create task:</h3>
    <partial name="~/Views/Forms/_CreateToDoForm.cshtml" />
</div>
<div>
    <h3>Todo's for @User.Identity.Name</h3>
</div>


<div>
    <partial name="~/Views/Tasks/_TaskList.cshtml" />
    <partial name="~/Views/Forms/_EditTodo.cshtml" />
</div>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />

}